// .env.example
NEXT_PUBLIC_N8N_WEBHOOK_URL=https://roulss.app.n8n.cloud/webhook-test/n8n
ELEVENLABS_API_KEY=sk_8eed721f9cd4af3787db19394ca2caaa49f48e769758ec3b
NEXT_PUBLIC_ELEVENLABS_VOICE_ID=o6qTxWUeRyzRYZyUNDVJ        
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_kAczTvClaKIAj9IYNx3ZVQ__3tw9kT9          
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtZ2Zha2p1ZHlsamRlZ3Rua3B4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNjg1NzIsImV4cCI6MjA5Njg0NDU3Mn0.yrco4-sOsvfJzGMuGP8otI-zUOj4R9EIUmpgWDH21xY
GEMINI_API_KEY=your_gemini_api_key_here
